# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor & IDE Files
.vscode/
.idea/
*.swp
*.swo

# Netlify Build Artifacts
.netlify/

# Node modules / package artifacts (if npm is used)
node_modules/
api/node_modules/
api/.env
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database backups
backups/
*.archive

